Repository Interrupt/delverengine, pull requests merged in 2020-09, with the labels that each got.

#58 Editor fix for previewing lights in Groups and in Prefabs
  Dungeoneer/src/com/interrupt/dungeoneer/game/Level.java
Labels: bug

#59 Fixing how We Determine a Hitscan Target for Guns
  Dungeoneer/src/com/interrupt/dungeoneer/entities/items/Gun.java
Labels: bug

#86 Copy + Paste Placing Item On Floor
  DelvEdit/src/com/interrupt/dungeoneer/editor/EditorApplication.java
Labels: bug, editor

#90 Restructuring New Level Generation
  DelvEdit/src/com/interrupt/dungeoneer/editor/EditorApplication.java
  DelvEdit/src/com/interrupt/dungeoneer/editor/EditorCameraController.java
  DelvEdit/src/com/interrupt/dungeoneer/editor/file/EditorFile.java
Labels: editor, enhancement
